.profile-page {
    padding-bottom: 100px;
}
.profile-page .inner-part .title {
    font-size: 36px;
    color: #101010;
    line-height: 46px;
    font-weight: 700;
    margin-bottom: 14px;
}
.profile-page .contact-box {
    margin-bottom: 90px;
    position: relative;
}
.profile-page .contact-box .address-item {
    padding: 50px 40px 50px 40px;
    background: #ffffff;
    box-shadow: 0 0 30px #f6f6f6;
    text-align: center;
    margin: 0px 20px 0px 0px;
    border-radius: 5px 5px 5px 5px;
}
.profile-page .contact-box .address-item.image-wrapper {
    padding: 25px;
}
.profile-page .contact-box .address-item.image-wrapper .profile-img {
    position: relative;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    align-items: center;
    text-align: center;
}
.profile-page .contact-box .address-item.image-wrapper .profile-img img {
    width: 100%;
    border-radius: 7px;
}
.profile-page .contact-box .address-item.image-wrapper .profile-img input[type="file"] {
    display: none;
}
.profile-page .contact-box .address-item.image-wrapper .profile-img label {
    position: absolute;
    left: auto;
    right: auto;
    bottom: 10px;
    color: #101010;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    height: 40px;
    width: 45%;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 100px;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s;
}
.profile-page .contact-box .address-item.image-wrapper .profile-img label svg path {
    color: #101010;
}
.profile-page .contact-box .address-item.image-wrapper .profile-img label:hover {
    background-color: rgba(255, 255, 255, 0.9999);
    scale: 1.1;
}
.profile-page .contact-box .address-item .icon-part {
    padding-bottom: 20px;
}
.profile-page .contact-box .address-item .icon-part svg {
    height: 55px;
}
.profile-page .contact-box .address-item .icon-part svg path {
    fill: #21a7d0;
}
.profile-page .contact-box .address-item .address-text .label {
    display: block;
    color: #101010;
    font-size: 22px;
    font-weight: 600;
    padding-bottom: 10px;
}
.profile-page .contact-box .address-item .address-text .des {
    font-size: 17px;
    color: #031a3d;
}
.profile-page .contact-box .address-item .address-text .des a {
    color: #031a3d;
}
.profile-page .contact-box .address-item .address-text .des a:hover {
    color: #21a7d0;
}
.profile-page .contact-wrap {
    padding: 40px 35px 30px 35px;
    background-color: #f9f8f8;
    border-radius: 5px 5px 5px 5px;
}
.topper {
    margin-top: -5rem;
}
.profile-page .contact-box .address-item .profile-links ul {
    padding: 0px;
    display: flex;
    flex-direction: column;
    vertical-align: middle;
    list-style: none;
    text-align: left;
    margin-bottom: 0;
}
.profile-page .contact-box .address-item .profile-links ul li .link {
    text-transform: uppercase;
    font-size: 17px;
    background: none;
    border: none;
    outline: none;
    display: block;
    font-weight: 500;
    transition: all 0.3s ease;
    text-decoration: none !important;
}
.profile-page .contact-box .address-item .profile-links ul li .link:hover {
    color: #21a7d0;
}
.profile-page .contact-box .address-item .profile-links ul li {
    display: flex;
    flex-direction: row;
    margin: 15px 10px;
    width: auto;
    transition: all 0.3s ease;
    font-size: 17px;
    font-weight: 500 !important;
    text-transform: uppercase;
    vertical-align: middle;
}
.profile-page .contact-box .address-item .profile-links ul li a {
    color: #101010 !important;
}
.profile-page .contact-box .address-item .profile-links ul li svg {
    height: 20px !important;
}
.profile-page .contact-box .address-item .profile-links ul li a:hover {
    color: #21a7d0 !important;
}
.profile-about .full-grid {
    margin-top: 25px;
}
.profile-about .full-grid .form-content-box .form-group label {
    line-height: 2;
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
}
.profile-about .full-grid .form-content-box .form-group select {
    padding-left: 8px;
    padding-right: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border: 1px solid rgba(54, 54, 54, 0.1);
    border-radius: 0;
    height: 45px;
    line-height: 45px;
    cursor: pointer;
    width: 100%;
    outline: none;
}
.profile-about .full-grid .form-content-box .form-group textarea {
    height: 4em;
    line-height: 1.5;
    display: block;
    box-shadow: none;
    width: 100%;
    border: 1px solid rgba(54, 54, 54, 0.1);
    padding: 10px 18px;
    margin: 0;
    outline: none;
}
.profile-about .full-grid .form-content-box .form-group .form-control-mod {
    border: 1px solid rgba(54, 54, 54, 0.1);
    height: 45px;
    padding: 10px 18px;
    width: 100%;
    margin: 0;
    outline: none;
    line-height: normal;
    border-radius: unset;
}
.profile-about .full-grid .form-content-box .form-group .form-control-mod.margin-bottom {
    margin-bottom: 10px !important;
}
.profile-about .full-grid .form-content-box .btn-submit{
    padding-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 15px;
    cursor: pointer;
    color: #111111 !important;
}
.profile-about .full-grid .form-content-box .btn-submit button{
    padding: 15px 30px !important;
    text-transform: uppercase;
    color: #fff !important;
    background: #21a7d0;
    border-color: #21a7d0;
    border-radius: 5px 5px 5px 5px;
    outline: none;
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    transition: all 0.3s ease;
    text-decoration: none !important;
    border: none;
}
.profile-about .full-grid .form-content-box .btn-submit button:hover {
    background-color: #1c8eb1 !important;
}
.profile-about .full-grid .form-content-box .btn-submit button:active {
    background-color: #21a7d0 !important;
    color: #fff !important;
    outline: none !important;
}