.contact-page-section {
    padding-top: 100px;
    padding-bottom: 100px;
}
.contact-page-section .inner-part .title {
    font-size: 36px;
    color: #101010;
    line-height: 46px;
    font-weight: 700;
    margin-bottom: 14px;
}
.contact-page-section .contact-box {
    margin-bottom: 90px;
}
.contact-page-section .contact-box .address-item {
    padding: 50px 40px 50px 40px;
    background: #ffffff;
    box-shadow: 0 0 30px #f6f6f6;
    text-align: center;
    margin: 0px 20px 0px 0px;
    border-radius: 5px 5px 5px 5px;
}
.contact-page-section .contact-box .address-item .icon-part {
    padding-bottom: 20px;
}
.contact-page-section .contact-box .address-item .icon-part svg {
    height: 55px;
}
.contact-page-section .contact-box .address-item .icon-part svg path {
    fill: #21a7d0;
}
.contact-page-section .contact-box .address-item .address-text .label {
    display: block;
    color: #101010;
    font-size: 22px;
    font-weight: 600;
    padding-bottom: 10px;
}
.contact-page-section .contact-box .address-item .address-text .des {
    font-size: 17px;
    color: #031a3d;
}
.contact-page-section .contact-box .address-item .address-text .des a {
    color: #031a3d;
}
.contact-page-section .contact-box .address-item .address-text .des a:hover {
    color: #21a7d0;
}
.contact-page-section .contact-wrap {
    padding: 40px 35px 30px 35px;
    background-color: #f9f8f8;
    border-radius: 5px 5px 5px 5px;
}
.contact-page-section .contact-wrap .address-item {
    display: flex;
    position: relative;
    margin-bottom: 40px;
}
.contact-page-section .contact-wrap .address-item .address-icon {
    margin-right: 20px;
}
.contact-page-section .contact-wrap .address-item .address-icon i {
    font-size: 35px;
    color: #21a7d0;
}
.contact-page-section .contact-wrap .address-item .address-text .label {
    display: block;
    color: #505050;
    font-size: 15px;
    font-weight: 700;
    padding-bottom: 10px;
    line-height: 1.2;
}
.contact-page-section .contact-wrap .address-item .address-text .des {
    font-size: 18px;
    color: #111111;
    font-weight: 500;
}
.contact-page-section .contact-wrap .address-item .address-text .des a {
    color: #111111;
    font-weight: 500;
}
.contact-page-section .contact-wrap .address-item .address-text .des a:hover {
    color: #21a7d0;
}
.contact-page-section .contact-comment-box .from-control {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #f1f1f1;
    box-shadow: 0 0 30px #eee;
    color: #363636;
    width: 100%;
    max-width: 100%;
    opacity: 1;
    border-radius: 3px;
    border: 1px solid #ffffff;
    color: #767676;
    background: #ffffff;
    padding: 10px 18px;
    margin-bottom: 35px;
}
.contact-page-section .contact-comment-box {
    margin-left: 60px;
}
.contact-page-section .contact-comment-box textarea {
    height: 140px;
}
.contact-page-section .contact-comment-box .form-group .btn-send {
    padding: 16px 0px 16px 0px;
    box-shadow: 0px 28px 50px 0px rgba(0, 0, 0, 0.05);
    outline: none;
    border: none;
    padding: 12px 40px;
    border-radius: 3px;
    display: inline-block;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
    background: #21a7d0;
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
    width: 100%;
    text-transform: uppercase;
}
.contact-page-section .contact-comment-box .form-group .btn-send:hover {
    opacity: 0.85;
}
.contact-page-section .contact-map {
    overflow: hidden;
}
.contact-page-section .contact-map iframe {
    float: left;
    width: 100%;
    height: 600px;
    border: none;
}