.banner {
    padding: 150px 0 400px;
    background: url("../assets/img/bg.jpg");
    background-size: cover;
    background-position: center;
}
.banner .banner-content {
    max-width: 750px;
    margin: 0 auto;
}
.banner .banner-content .banner-title {
    font-size: 55px;
    margin-bottom: 16px;
}
.banner .banner-content .banner-text {
    font-size: 20px;
    line-height: 30px;
}
.banner .btn-part a {
    padding: 20px 50px !important;
    border-radius: 50px !important;
}
.about {
    padding-bottom: 100px;
}
.about .about-part {
    background: #e7f4f6;
    padding: 60px 60px 70px;
    border-radius: 5px;
    margin-top: -60px;
}
.about .about-part .desc {
    font-size: 18px;
    line-height: 30px;
    color: #505050;
}
.about .notice-bord {
    margin-top: -60px;
}
.about .notice-bord .title {
    background: #21a7d0;
    font-size: 20px;
    text-transform: uppercase;
    padding: 18px 25px;
    text-align: center;
    font-weight: 600;
    color: #ffffff;
    margin-bottom: 10px;
}
.about .notice-bord ul {
    padding: 0px;
}
.about .notice-bord li {
    position: relative;
    background: #e7f4f6;
    margin-bottom: 12px;
    border-radius: 3px;
    padding: 20px;
    padding-left: 0 !important;
    overflow: hidden;
}
.about .notice-bord li .date {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #21a7d0;
    border-right: 1px solid #21a7d0;
    padding-right: 10px;
    font-weight: 600;
    width: 80px;
}
.about .notice-bord li .date span {
    font-size: 22px;
    font-family: "Nunito", sans-serif;
    display: block;
}
.about .notice-bord li .text {
    padding-left: 115px;
    font-weight: 500;
}
.about .notice-bord li:last-child {
    margin-bottom: 0;
}

.categories {
    background: #f3f8f9;
    padding-bottom: 70px;
    padding-top: 94px;
}
.sec-title {
    margin-bottom: 50px;
}
.categories .categories-item {
    border: 1px solid #eae4e4;
    background: #ffffff;
    overflow: hidden;
    padding: 30px;
    display: block;
    color: #505050;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    text-align: center;
    box-shadow: 0 0 7px #eae4e4;
}
.categories .categories-item .icon-part {
    margin-bottom: 25px;
    width: 70px;
    height: 70px;
    line-height: 70px;
    border-radius: 100%;
    background: rgba(22, 170, 202, 0.2);
    text-align: center;
    transition: all 0.3s ease;
}
.categories .categories-item .icon-part img {
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    transform: scale(1);
}
.categories .categories-item .content-part .title {
    color: #111111;
    margin-bottom: 5px;
    font-size: 22px;
    transition: all 0.3s ease;
}
.categories .categories-item:hover {
    background: #21a7d0;
    color: #ffffff;
    border-color: #21a7d0;
}
.categories .categories-item:hover .icon-part {
    background: #ffffff;
}
.categories .categories-item:hover .icon-part img {
    transform: scale(0.9);
}
.categories .categories-item:hover .content-part .title {
    color: #ffffff;
}
.partner {
    padding-bottom: 70px;
    padding-top: 70px;
}
.partner .partner-item {
    position: relative;
    overflow: hidden;
}
.partner .partner-item img {
    max-height: 140px;
    margin: 0 auto;
}
.partner .partner-item:after {
    position: absolute;
    content: "";
    left: 50%;
    top: 50%;
    transform: translate(-50%, 100%) scale(0.1);
    background: #21a7d0;
    opacity: 0;
    border-radius: 3px;
    transition: all 0.3s ease;
}

.cta {
    position: relative;
}
.cta .cta-img img {
    min-height: 425px;
    width: 100%;
    filter: opacity(0.4) blur(1px) contrast(50%);
}
.cta .cta-content {
    position: absolute;
    width: 100%;
    max-width: 600px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.cta .cta-content .sec-title {
    margin-bottom: 20px !important;
}
.faq-part {
    padding: 100px 0;
}
.faq-part .content-part .title .text-part {
    font-size: 20px;
    color: #111111;
    line-height: 28px;
    font-weight: 700;
    text-transform: uppercase;
}
.faq-part .content-part .accordion {
    border-width: 12px;
}
.faq-part .content-part .accordion .card {
    margin-bottom: 15px;
    border: none;
}
.faq-part .content-part .accordion .card:last-child {
    margin-bottom: 0;
}
.faq-part .content-part .accordion .card .card-header {
    padding: 0 !important;
    border: none;
}
.faq-part .content-part .accordion .card .card-header .card-link {
    font-size: 17px;
    font-weight: 600;
    line-height: 28px;
    color: #ffffff;
    display: block;
    padding: 15px 15px;
    text-transform: capitalize;
    background: #21a7d0;
}
.faq-part .content-part .accordion .card .card-header .card-link.collapsed {
    background: #f9f8ff;
    color: #505050;
}
.faq-part .content-part .accordion .card .card-body {
    background: #ffffff;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    color: #505050;
    padding: 15px 14px 15px !important;
    border: 1px solid #f9f8ff;
}
.faq-part.style1 .main-part {
    background: #f9f8f8;
    padding: 60px 60px 70px;
}
.faq-part.style1 .main-part .title .text-part {
    font-size: 36px;
    color: #111111;
    line-height: 46px;
    font-weight: 700;
}
.faq-part.style1 .main-part .faq-content .accordion {
    border-width: 12px;
}
.faq-part.style1 .main-part .faq-content .accordion .card {
    margin-bottom: 25px;
    border: none;
}
.faq-part.style1 .main-part .faq-content .accordion .card .card-header {
    display: flex;
    align-items: center;
    padding: 0 !important;
    border: none;
}
.faq-part.style1 .main-part .faq-content .accordion .card .card-header .card-link {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 30px;
    height: 65px;
    font-size: 16px;
    font-weight: 600;
    background: #21a7d0;
    box-shadow: 0 0 49px 0 rgba(0, 0, 0, 0.08);
    color: #ffffff;
}
.faq-part.style1 .main-part .faq-content .accordion .card .card-header .card-link.collapsed {
    background: #ffffff;
    color: #111111;
}
.faq-part.style1 .main-part .faq-content .accordion .card .card-body {
    background: #ffffff;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    color: #505050;
    padding: 15px 14px 15px !important;
    width: 100%;
}
.faq-part.style1 .main-part.new-style {
    background: #f3fcf8;
    padding: 49px 50px 70px;
}
.faq-part.style1 .main-part.new-style .faq-content .accordion .card:last-child {
    margin-bottom: 0;
}
.faq-part.style1 .main-part.new-style .faq-content .accordion .card .card-header .card-link {
    background: #0c8b51;
}
.faq-part.style1 .main-part.new-style .faq-content .accordion .card .card-header .card-link.collapsed {
    background: #ffffff;
    color: #111111;
}
.faq-part.style1 .main-part.new-style .faq-content .accordion .card .card-body {
    padding: 20px 14px 35px !important;
}
.faq-part.style1 .img-part {
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    min-height: 615px;
}
.faq-part.orange-color .content-part .accordion .card .card-header .card-link,
.faq-part.orange-color .main-part .faq-content .accordion .card .card-header .card-link {
    background: #ff5421;
}
.faq-part.orange-color .content-part .accordion .card .card-header .card-link.collapsed,
.faq-part.orange-color .main-part .faq-content .accordion .card .card-header .card-link.collapse {
    background: #f9f8ff;
}

.rs-featured-courses {
    padding: 100px 0;
    background: #e7f8fb;
}
.rs-featured-courses .rs-carousel .owl-dots {
    text-align: center;
}
.rs-featured-courses .rs-carousel .owl-dots .owl-dot {
    width: 30px;
    height: 10px;
    display: inline-block;
    margin: 0 6px;
    padding: 3px 0;
    border-radius: 30px;
    background: #111111;
}
.rs-featured-courses .rs-carousel .owl-dots .owl-dot:hover {
    background: #21a7d0;
}
.rs-featured-courses .rs-carousel .owl-dots .active {
    background: #21a7d0;
}
.rs-featured-courses .owl-stage-outer {
    padding-bottom: 10px;
}
.rs-featured-courses .courses-item {
    padding: 0 30px;
    position: relative;
    transition: all 0.3s ease;
}
.rs-featured-courses .courses-item .img-part {
    position: relative;
    z-index: 111;
}
.rs-featured-courses .courses-item .content-part {
    padding: 30px 0;
    position: relative;
    z-index: 111;
}
.rs-featured-courses .courses-item .content-part span .categories {
    display: inline-block;
    padding: 0 15px;
    height: 40px;
    line-height: 40px;
    color: #ffffff;
    font-weight: 500;
    border-radius: 3px;
    transition: all 0.3s ease;
    margin-left: auto;
    margin-right: auto;
}
.rs-featured-courses .courses-item .content-part span {
    display: flex;
}
.rs-featured-courses .courses-item .content-part span .categories.bg1 {
    background: #c701f1;
}
.rs-featured-courses .courses-item .content-part span .categories.bg2 {
    background: #065ce8;
}
.rs-featured-courses .courses-item .content-part span .categories.bg3 {
    background: #f6075b;
}
.rs-featured-courses .courses-item .content-part .title {
    font-size: 24px;
    line-height: 35px;
    font-weight: 700;
    margin-top: 2rem!important;
}
.rs-featured-courses .courses-item .content-part .title a {
    color: #031a3d;
}
.rs-featured-courses .courses-item .content-part .title a:hover {
    color: #21a7d0;
}
.rs-featured-courses .courses-item .content-part .images {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e5e8eb;
    padding-bottom: 35px;
}
.rs-featured-courses .courses-item:after {
    position: absolute;
    content: "";
    bottom: 0;
    width: 90%;
    height: 78%;
    background: #ffff;
    border-radius: 3px;
}
.rs-featured-courses .courses-item:hover {
    transform: translateY(-10px);
}
