.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: auto;
    background-color: #fff;
    color: #111;
    transition: all 0.3s ease;
    z-index: 999;
    position: fixed;
    margin: 0 auto;
    border: none;
    padding: 0 !important;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    -webkit-box-shadow: 0 0 5px 0 rgb(0 0 0 / 20%);
    box-shadow: 0 0 5px 0 rgb(0 0 0 / 20%);
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-name: sticky-animation;
    animation-name: sticky-animation;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.logo {
    position: relative;
    font-size: 30px;
    height: 110px;
    display: flex;
    align-items: center;
}

.logo img {
    max-width: 80px;
    vertical-align: middle;
}

.navbar-nav {
    display: flex;
    justify-content: flex-end;
    list-style: none;
}

.navbar-nav span {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 15px;
    padding-right: 40px;
    cursor: pointer;
    color: #111111 !important;
    height: 120px;
}

.navbar-nav span a.active {
    color: #21a7d0 !important;
}

.navbar-nav span a {
    width: auto;
    margin: 0 !important;
    transition: all 0.3s ease;
    font-size: 15px;
    font-weight: 500 !important;
    text-transform: uppercase;
    padding-right: 0;
    margin-right: -12px;
    color: #111;
    vertical-align: middle;
}
.navbar-nav span a:hover {
    color: #21a7d0 !important;
}
@media only screen and (max-width: 992px) {
    .navbar-nav span {
        height: 50px !important;
    }
    .btn-part {
        height: 50px !important;
        margin: 20px 0px 30px;
    }
}
@media only screen and (max-width: 1200px) {
    .navbar-nav span {
        padding-right: 10px !important;
    }
}
.dropdown:hover > .dropdown-menu {
    display: block;
}
.navbar .dropdown-menu {
    position: absolute !important;
    top: 40px !important;
    border: none;
    margin: 0;
    padding: 15px 0;
    background-color: #ffffff;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    -ms-box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    -o-box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    z-index: 9999;
}
.navbar .dropdown-menu li {
    margin: 0;
    border: none;
}
.navbar .dropdown-menu li a {
    height: unset !important;
    line-height: unset !important;
    color: #111 !important;
    padding: 10px 30px !important;
    width: auto;
    transition: all 0.3s ease;
    font-size: 15px;
    text-transform: uppercase;
}
.navbar .dropdown-menu li a:hover {
    color: #21a7d0 !important;
}
.navbar .dropdown-menu li a:before {
    display: none !important;
}
.navbar .dropdown-menu li:last-child {
    margin: 0;
}
.navbar .dropdown-menu li.current-menu-item > a,
.navbar .dropdown-menu li.active > a {
    color: #21a7d0 !important;
}

.btn-part {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 15px;
    padding-right: 40px;
    cursor: pointer;
    color: #111111 !important;
    height: 120px;
}

.btn-part a {
    padding: 15px 20px !important;
    border-radius: 8px !important;
    text-transform: uppercase;
    font-size: 15px;
    color: #fff !important;
    background: #21a7d0;
    border-color: #21a7d0;
    border-radius: 5px 5px 5px 5px;
    outline: none;
    padding: 12px 35px;
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    transition: all 0.3s ease;
    text-decoration: none !important;
    outline: none !important;
}
.btn-part a:hover {
    background-color: #1c8eb1 !important;
}
.btn-part a:active {
    background-color: #21a7d0 !important;
    color: #fff !important;
    outline: none!important;
}